In [22]:
# import all libraries 
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

from langdetect import detect

import gensim
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

### Convert csv to feather 
airbnb_reviews = pd.read_csv('data/airbnb_reviews.csv', delimiter=';', skiprows=0, low_memory=False).dropna()
airbnb_reviews.reset_index().to_feather('data/airbnb_reviews.feather')

air_bnb_ret_new = pd.read_csv('data/airbnb_ratings_new.csv',engine = 'python').dropna()
air_bnb_ret_new.reset_index().to_feather('data/air_bnb_ret_new.feather')

In [2]:
airbnb_reviews = pd.read_feather('data/airbnb_reviews.feather').drop('index', axis=1)
airbnb_reviews.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,488835,104522929,2016-09-27,66003975,Carole,First time using Airbnb and couldn't be happie...
1,549036,37751194,2015-07-10,33501858,Gabi,Muy bien ubicado. Las fotos y la descrpción co...

In [3]:
air_bnb_ret_new = pd.read_feather('data/air_bnb_ret_new.feather').drop('index', axis=1)
air_bnb_ret_new.head(2)

,Listing ID,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,Street,City,Neighbourhood cleansed,...,Number of reviews,Last Review Date,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month
0,5534229.0,A 2 Passi da San Pietro,28697142.0,Veronica,100%,False,5.0,00165| Rm 00165| Italy,165,XIII Aurelia,...,2.0,8/29/15,90,9.0,10.0,8.0,8.0,9.0,9.0,0.08
1,5903406.0,cosy small apartment,1853799.0,Veronika,88%,False,2.0,1190| Wien| Austria,1190,D�bling,...,3.0,9/9/17,87,9.0,10.0,10.0,10.0,10.0,8.0,0.27

### Select rows with only English comments

In [17]:
%%time

lst = []
i = 1
for index,row in airbnb_reviews.iterrows():
    if (index/10000).is_integer():
        print(i, '0000 data have been processed')
        i = i +1
        
    try:
        if(detect(airbnb_reviews.iloc[index]['comments']) == "en"):
            lst.append(index)
    except:
        pass

1 0000 data have been processed
2 0000 data have been processed
3 0000 data have been processed
4 0000 data have been processed
5 0000 data have been processed
6 0000 data have been processed
7 0000 data have been processed
8 0000 data have been processed
9 0000 data have been processed
10 0000 data have been processed
11 0000 data have been processed
12 0000 data have been processed
13 0000 data have been processed
14 0000 data have been processed
15 0000 data have been processed
16 0000 data have been processed
17 0000 data have been processed
18 0000 data have been processed
19 0000 data have been processed
20 0000 data have been processed
21 0000 data have been processed
22 0000 data have been processed
23 0000 data have been processed
24 0000 data have been processed
25 0000 data have been processed
26 0000 data have been processed
27 0000 data have been processed
28 0000 data have been processed
29 0000 data have been processed
30 0000 data have been processed
31 0000 data have been processed
32 0000 data have been processed
33 0000 data have been processed
34 0000 data have been processed
35 0000 data have been processed
36 0000 data have been processed
37 0000 data have been processed
38 0000 data have been processed
39 0000 data have been processed
40 0000 data have been processed
41 0000 data have been processed
42 0000 data have been processed
43 0000 data have been processed
44 0000 data have been processed
45 0000 data have been processed
46 0000 data have been processed
47 0000 data have been processed
48 0000 data have been processed
49 0000 data have been processed
50 0000 data have been processed
51 0000 data have been processed
52 0000 data have been processed
53 0000 data have been processed
54 0000 data have been processed
55 0000 data have been processed
56 0000 data have been processed
57 0000 data have been processed
58 0000 data have been processed
59 0000 data have been processed
60 0000 data have been processed
61 0000 data have been processed
62 0000 data have been processed
63 0000 data have been processed
64 0000 data have been processed
65 0000 data have been processed
66 0000 data have been processed
67 0000 data have been processed
68 0000 data have been processed
69 0000 data have been processed
70 0000 data have been processed
71 0000 data have been processed
72 0000 data have been processed
73 0000 data have been processed
74 0000 data have been processed
75 0000 data have been processed
76 0000 data have been processed
77 0000 data have been processed
78 0000 data have been processed
79 0000 data have been processed
80 0000 data have been processed
81 0000 data have been processed
82 0000 data have been processed
83 0000 data have been processed
84 0000 data have been processed
85 0000 data have been processed
86 0000 data have been processed
87 0000 data have been processed
88 0000 data have been processed
89 0000 data have been processed
90 0000 data have been processed
91 0000 data have been processed
92 0000 data have been processed
93 0000 data have been processed
94 0000 data have been processed
95 0000 data have been processed
96 0000 data have been processed
97 0000 data have been processed
98 0000 data have been processed
99 0000 data have been processed
100 0000 data have been processed
101 0000 data have been processed
102 0000 data have been processed
103 0000 data have been processed
104 0000 data have been processed
105 0000 data have been processed
106 0000 data have been processed
107 0000 data have been processed
108 0000 data have been processed
109 0000 data have been processed
110 0000 data have been processed
111 0000 data have been processed
112 0000 data have been processed
113 0000 data have been processed
114 0000 data have been processed
115 0000 data have been processed
116 0000 data have been processed
117 0000 data have been processed
118 0000 data have been processed
119 0000 data have been processed
120 0000 data have been processed
121 0000 data have been processed
122 0000 data have been processed
123 0000 data have been processed
124 0000 data have been processed
125 0000 data have been processed
126 0000 data have been processed
127 0000 data have been processed
128 0000 data have been processed
129 0000 data have been processed
130 0000 data have been processed
131 0000 data have been processed
132 0000 data have been processed
133 0000 data have been processed
134 0000 data have been processed
135 0000 data have been processed
136 0000 data have been processed
137 0000 data have been processed
138 0000 data have been processed
139 0000 data have been processed
140 0000 data have been processed
141 0000 data have been processed
142 0000 data have been processed
143 0000 data have been processed
144 0000 data have been processed
145 0000 data have been processed
146 0000 data have been processed
147 0000 data have been processed
148 0000 data have been processed
149 0000 data have been processed
150 0000 data have been processed
151 0000 data have been processed
152 0000 data have been processed
153 0000 data have been processed
154 0000 data have been processed
155 0000 data have been processed
156 0000 data have been processed
157 0000 data have been processed
158 0000 data have been processed
159 0000 data have been processed
160 0000 data have been processed
161 0000 data have been processed
162 0000 data have been processed
163 0000 data have been processed
164 0000 data have been processed
165 0000 data have been processed
166 0000 data have been processed
167 0000 data have been processed
168 0000 data have been processed
169 0000 data have been processed
170 0000 data have been processed
171 0000 data have been processed
172 0000 data have been processed
173 0000 data have been processed
174 0000 data have been processed
175 0000 data have been processed
176 0000 data have been processed
177 0000 data have been processed
178 0000 data have been processed
179 0000 data have been processed
180 0000 data have been processed
181 0000 data have been processed
182 0000 data have been processed
183 0000 data have been processed
184 0000 data have been processed
185 0000 data have been processed
186 0000 data have been processed
187 0000 data have been processed
188 0000 data have been processed
189 0000 data have been processed
190 0000 data have been processed
191 0000 data have been processed
192 0000 data have been processed
193 0000 data have been processed
194 0000 data have been processed
195 0000 data have been processed
196 0000 data have been processed
197 0000 data have been processed
198 0000 data have been processed
199 0000 data have been processed
200 0000 data have been processed
201 0000 data have been processed
202 0000 data have been processed
203 0000 data have been processed
204 0000 data have been processed
205 0000 data have been processed
206 0000 data have been processed
207 0000 data have been processed
208 0000 data have been processed
209 0000 data have been processed
210 0000 data have been processed
211 0000 data have been processed
212 0000 data have been processed
213 0000 data have been processed
214 0000 data have been processed
215 0000 data have been processed
216 0000 data have been processed
217 0000 data have been processed
218 0000 data have been processed
219 0000 data have been processed
220 0000 data have been processed
221 0000 data have been processed
222 0000 data have been processed
223 0000 data have been processed
224 0000 data have been processed
225 0000 data have been processed
226 0000 data have been processed
227 0000 data have been processed
228 0000 data have been processed
229 0000 data have been processed
230 0000 data have been processed
231 0000 data have been processed
232 0000 data have been processed
233 0000 data have been processed
234 0000 data have been processed
235 0000 data have been processed
236 0000 data have been processed
237 0000 data have been processed
238 0000 data have been processed
239 0000 data have been processed
240 0000 data have been processed
241 0000 data have been processed
242 0000 data have been processed
243 0000 data have been processed
244 0000 data have been processed
245 0000 data have been processed

246 0000 data have been processed
247 0000 data have been processed
248 0000 data have been processed
249 0000 data have been processed
250 0000 data have been processed
251 0000 data have been processed
252 0000 data have been processed
253 0000 data have been processed
254 0000 data have been processed
255 0000 data have been processed
256 0000 data have been processed
257 0000 data have been processed
258 0000 data have been processed
259 0000 data have been processed
260 0000 data have been processed
261 0000 data have been processed
262 0000 data have been processed
263 0000 data have been processed
264 0000 data have been processed
265 0000 data have been processed
266 0000 data have been processed
267 0000 data have been processed
268 0000 data have been processed
269 0000 data have been processed
270 0000 data have been processed
271 0000 data have been processed
272 0000 data have been processed
273 0000 data have been processed
274 0000 data have been processed
275 0000 data have been processed
276 0000 data have been processed
277 0000 data have been processed
278 0000 data have been processed
279 0000 data have been processed
280 0000 data have been processed
281 0000 data have been processed
282 0000 data have been processed
283 0000 data have been processed
284 0000 data have been processed
285 0000 data have been processed
286 0000 data have been processed
287 0000 data have been processed
288 0000 data have been processed
289 0000 data have been processed
290 0000 data have been processed
291 0000 data have been processed
292 0000 data have been processed
293 0000 data have been processed
294 0000 data have been processed
295 0000 data have been processed
296 0000 data have been processed
297 0000 data have been processed
298 0000 data have been processed
299 0000 data have been processed
300 0000 data have been processed
301 0000 data have been processed
302 0000 data have been processed
303 0000 data have been processed
304 0000 data have been processed
305 0000 data have been processed
306 0000 data have been processed
307 0000 data have been processed
308 0000 data have been processed
309 0000 data have been processed
310 0000 data have been processed
311 0000 data have been processed
312 0000 data have been processed
313 0000 data have been processed
314 0000 data have been processed
315 0000 data have been processed
316 0000 data have been processed
317 0000 data have been processed
318 0000 data have been processed
319 0000 data have been processed
320 0000 data have been processed
321 0000 data have been processed
322 0000 data have been processed
323 0000 data have been processed
324 0000 data have been processed
325 0000 data have been processed
326 0000 data have been processed
327 0000 data have been processed
328 0000 data have been processed
329 0000 data have been processed
330 0000 data have been processed
331 0000 data have been processed
332 0000 data have been processed
333 0000 data have been processed
334 0000 data have been processed
335 0000 data have been processed
336 0000 data have been processed
337 0000 data have been processed
338 0000 data have been processed
339 0000 data have been processed
340 0000 data have been processed
341 0000 data have been processed
342 0000 data have been processed
343 0000 data have been processed
344 0000 data have been processed
345 0000 data have been processed
346 0000 data have been processed
347 0000 data have been processed
348 0000 data have been processed
349 0000 data have been processed
350 0000 data have been processed
351 0000 data have been processed
352 0000 data have been processed
353 0000 data have been processed
354 0000 data have been processed
355 0000 data have been processed
356 0000 data have been processed
357 0000 data have been processed
358 0000 data have been processed
359 0000 data have been processed
360 0000 data have been processed
361 0000 data have been processed
362 0000 data have been processed
363 0000 data have been processed
364 0000 data have been processed
365 0000 data have been processed
366 0000 data have been processed
367 0000 data have been processed
368 0000 data have been processed
369 0000 data have been processed
370 0000 data have been processed
371 0000 data have been processed
372 0000 data have been processed
373 0000 data have been processed
374 0000 data have been processed
375 0000 data have been processed
376 0000 data have been processed
377 0000 data have been processed
378 0000 data have been processed
379 0000 data have been processed
380 0000 data have been processed
381 0000 data have been processed
382 0000 data have been processed
383 0000 data have been processed
384 0000 data have been processed
385 0000 data have been processed
386 0000 data have been processed
387 0000 data have been processed
388 0000 data have been processed
389 0000 data have been processed
390 0000 data have been processed
391 0000 data have been processed
392 0000 data have been processed
393 0000 data have been processed
394 0000 data have been processed
395 0000 data have been processed
396 0000 data have been processed
397 0000 data have been processed
398 0000 data have been processed
399 0000 data have been processed
400 0000 data have been processed
401 0000 data have been processed
402 0000 data have been processed
403 0000 data have been processed
404 0000 data have been processed
405 0000 data have been processed
406 0000 data have been processed
407 0000 data have been processed
408 0000 data have been processed
409 0000 data have been processed
410 0000 data have been processed
411 0000 data have been processed
412 0000 data have been processed
413 0000 data have been processed
414 0000 data have been processed
415 0000 data have been processed
416 0000 data have been processed
417 0000 data have been processed
418 0000 data have been processed
419 0000 data have been processed
420 0000 data have been processed
421 0000 data have been processed
422 0000 data have been processed
423 0000 data have been processed
424 0000 data have been processed
425 0000 data have been processed
426 0000 data have been processed
427 0000 data have been processed
428 0000 data have been processed
429 0000 data have been processed
430 0000 data have been processed
431 0000 data have been processed
432 0000 data have been processed
433 0000 data have been processed
434 0000 data have been processed
435 0000 data have been processed
436 0000 data have been processed
437 0000 data have been processed
438 0000 data have been processed
439 0000 data have been processed
440 0000 data have been processed
441 0000 data have been processed
442 0000 data have been processed
443 0000 data have been processed
444 0000 data have been processed
445 0000 data have been processed
446 0000 data have been processed
447 0000 data have been processed
448 0000 data have been processed
449 0000 data have been processed
450 0000 data have been processed
451 0000 data have been processed
452 0000 data have been processed
453 0000 data have been processed
454 0000 data have been processed
455 0000 data have been processed
456 0000 data have been processed
457 0000 data have been processed
458 0000 data have been processed
459 0000 data have been processed
460 0000 data have been processed
461 0000 data have been processed
462 0000 data have been processed
463 0000 data have been processed
464 0000 data have been processed
465 0000 data have been processed
466 0000 data have been processed
467 0000 data have been processed
468 0000 data have been processed
469 0000 data have been processed
470 0000 data have been processed
471 0000 data have been processed
472 0000 data have been processed
473 0000 data have been processed
474 0000 data have been processed
475 0000 data have been processed
476 0000 data have been processed
477 0000 data have been processed
478 0000 data have been processed
479 0000 data have been processed
480 0000 data have been processed
481 0000 data have been processed
482 0000 data have been processed
483 0000 data have been processed
484 0000 data have been processed
485 0000 data have been processed
486 0000 data have been processed

487 0000 data have been processed
488 0000 data have been processed
489 0000 data have been processed
490 0000 data have been processed
491 0000 data have been processed
492 0000 data have been processed
493 0000 data have been processed
494 0000 data have been processed
495 0000 data have been processed
496 0000 data have been processed
497 0000 data have been processed
498 0000 data have been processed
499 0000 data have been processed
500 0000 data have been processed
501 0000 data have been processed
502 0000 data have been processed
503 0000 data have been processed
504 0000 data have been processed
505 0000 data have been processed
506 0000 data have been processed
507 0000 data have been processed
508 0000 data have been processed
509 0000 data have been processed
510 0000 data have been processed
511 0000 data have been processed
512 0000 data have been processed
513 0000 data have been processed
514 0000 data have been processed
515 0000 data have been processed
516 0000 data have been processed
517 0000 data have been processed
518 0000 data have been processed
519 0000 data have been processed
520 0000 data have been processed
521 0000 data have been processed
522 0000 data have been processed
523 0000 data have been processed
524 0000 data have been processed
525 0000 data have been processed
526 0000 data have been processed
527 0000 data have been processed
528 0000 data have been processed
529 0000 data have been processed
530 0000 data have been processed
531 0000 data have been processed
532 0000 data have been processed
533 0000 data have been processed
534 0000 data have been processed
535 0000 data have been processed
536 0000 data have been processed
537 0000 data have been processed
538 0000 data have been processed
539 0000 data have been processed
540 0000 data have been processed
541 0000 data have been processed
542 0000 data have been processed
543 0000 data have been processed
544 0000 data have been processed
545 0000 data have been processed
546 0000 data have been processed
547 0000 data have been processed
548 0000 data have been processed
549 0000 data have been processed
550 0000 data have been processed
551 0000 data have been processed
552 0000 data have been processed
553 0000 data have been processed
554 0000 data have been processed
555 0000 data have been processed
556 0000 data have been processed
557 0000 data have been processed
558 0000 data have been processed
559 0000 data have been processed
560 0000 data have been processed
561 0000 data have been processed
562 0000 data have been processed
563 0000 data have been processed
564 0000 data have been processed
565 0000 data have been processed
566 0000 data have been processed
567 0000 data have been processed
568 0000 data have been processed
569 0000 data have been processed
570 0000 data have been processed
571 0000 data have been processed
572 0000 data have been processed
573 0000 data have been processed
574 0000 data have been processed
575 0000 data have been processed
576 0000 data have been processed
577 0000 data have been processed
578 0000 data have been processed
579 0000 data have been processed
580 0000 data have been processed
581 0000 data have been processed
582 0000 data have been processed
583 0000 data have been processed
584 0000 data have been processed
585 0000 data have been processed
586 0000 data have been processed
587 0000 data have been processed
588 0000 data have been processed
589 0000 data have been processed
590 0000 data have been processed
591 0000 data have been processed
592 0000 data have been processed
593 0000 data have been processed
594 0000 data have been processed
595 0000 data have been processed
596 0000 data have been processed
597 0000 data have been processed
598 0000 data have been processed
599 0000 data have been processed
600 0000 data have been processed
601 0000 data have been processed
602 0000 data have been processed
603 0000 data have been processed
604 0000 data have been processed
605 0000 data have been processed
606 0000 data have been processed
607 0000 data have been processed
608 0000 data have been processed
609 0000 data have been processed
610 0000 data have been processed
611 0000 data have been processed
612 0000 data have been processed
613 0000 data have been processed
614 0000 data have been processed
615 0000 data have been processed
616 0000 data have been processed
617 0000 data have been processed
618 0000 data have been processed
619 0000 data have been processed
620 0000 data have been processed
621 0000 data have been processed
622 0000 data have been processed
623 0000 data have been processed
624 0000 data have been processed
625 0000 data have been processed
626 0000 data have been processed
627 0000 data have been processed
628 0000 data have been processed
629 0000 data have been processed
630 0000 data have been processed
631 0000 data have been processed
632 0000 data have been processed
633 0000 data have been processed
634 0000 data have been processed
635 0000 data have been processed
636 0000 data have been processed
637 0000 data have been processed
638 0000 data have been processed
639 0000 data have been processed
640 0000 data have been processed
641 0000 data have been processed
642 0000 data have been processed
643 0000 data have been processed
644 0000 data have been processed
645 0000 data have been processed
646 0000 data have been processed
647 0000 data have been processed
648 0000 data have been processed
649 0000 data have been processed
650 0000 data have been processed
651 0000 data have been processed
652 0000 data have been processed
653 0000 data have been processed
654 0000 data have been processed
655 0000 data have been processed
656 0000 data have been processed
657 0000 data have been processed
658 0000 data have been processed
659 0000 data have been processed
660 0000 data have been processed
661 0000 data have been processed
662 0000 data have been processed
663 0000 data have been processed
664 0000 data have been processed
665 0000 data have been processed
666 0000 data have been processed
667 0000 data have been processed
668 0000 data have been processed
669 0000 data have been processed
670 0000 data have been processed
671 0000 data have been processed
672 0000 data have been processed
673 0000 data have been processed
674 0000 data have been processed
675 0000 data have been processed
676 0000 data have been processed
677 0000 data have been processed
678 0000 data have been processed
679 0000 data have been processed
680 0000 data have been processed
681 0000 data have been processed
682 0000 data have been processed
683 0000 data have been processed
684 0000 data have been processed
685 0000 data have been processed
686 0000 data have been processed
687 0000 data have been processed
688 0000 data have been processed
689 0000 data have been processed
690 0000 data have been processed
691 0000 data have been processed
692 0000 data have been processed
693 0000 data have been processed
694 0000 data have been processed
695 0000 data have been processed
696 0000 data have been processed
697 0000 data have been processed
698 0000 data have been processed
699 0000 data have been processed
700 0000 data have been processed
701 0000 data have been processed
702 0000 data have been processed
703 0000 data have been processed
704 0000 data have been processed
705 0000 data have been processed
706 0000 data have been processed
707 0000 data have been processed
708 0000 data have been processed
709 0000 data have been processed
710 0000 data have been processed
711 0000 data have been processed
712 0000 data have been processed
713 0000 data have been processed
714 0000 data have been processed
715 0000 data have been processed
716 0000 data have been processed
717 0000 data have been processed
718 0000 data have been processed
719 0000 data have been processed
720 0000 data have been processed
721 0000 data have been processed
722 0000 data have been processed
723 0000 data have been processed
724 0000 data have been processed
725 0000 data have been processed
726 0000 data have been processed
727 0000 data have been processed

728 0000 data have been processed
729 0000 data have been processed
730 0000 data have been processed
731 0000 data have been processed
732 0000 data have been processed
733 0000 data have been processed
734 0000 data have been processed
735 0000 data have been processed
736 0000 data have been processed
737 0000 data have been processed
738 0000 data have been processed
739 0000 data have been processed
740 0000 data have been processed
741 0000 data have been processed
742 0000 data have been processed
743 0000 data have been processed
744 0000 data have been processed
745 0000 data have been processed
746 0000 data have been processed
747 0000 data have been processed
748 0000 data have been processed
749 0000 data have been processed
750 0000 data have been processed
751 0000 data have been processed
752 0000 data have been processed
753 0000 data have been processed
754 0000 data have been processed
755 0000 data have been processed
756 0000 data have been processed
757 0000 data have been processed
758 0000 data have been processed
759 0000 data have been processed
760 0000 data have been processed
761 0000 data have been processed
762 0000 data have been processed
763 0000 data have been processed
764 0000 data have been processed
765 0000 data have been processed
766 0000 data have been processed
767 0000 data have been processed
768 0000 data have been processed
769 0000 data have been processed
770 0000 data have been processed
771 0000 data have been processed
772 0000 data have been processed
773 0000 data have been processed
774 0000 data have been processed
775 0000 data have been processed
776 0000 data have been processed
777 0000 data have been processed
778 0000 data have been processed
779 0000 data have been processed
780 0000 data have been processed
781 0000 data have been processed
782 0000 data have been processed
783 0000 data have been processed
784 0000 data have been processed
785 0000 data have been processed
786 0000 data have been processed
787 0000 data have been processed
788 0000 data have been processed
789 0000 data have been processed
790 0000 data have been processed
791 0000 data have been processed
792 0000 data have been processed
793 0000 data have been processed
794 0000 data have been processed
795 0000 data have been processed
796 0000 data have been processed
797 0000 data have been processed
798 0000 data have been processed
799 0000 data have been processed
800 0000 data have been processed
801 0000 data have been processed
802 0000 data have been processed
803 0000 data have been processed
804 0000 data have been processed
805 0000 data have been processed
806 0000 data have been processed
807 0000 data have been processed
808 0000 data have been processed
809 0000 data have been processed
810 0000 data have been processed
811 0000 data have been processed
812 0000 data have been processed
813 0000 data have been processed
814 0000 data have been processed
815 0000 data have been processed
816 0000 data have been processed
817 0000 data have been processed
818 0000 data have been processed
819 0000 data have been processed
820 0000 data have been processed
821 0000 data have been processed
822 0000 data have been processed
823 0000 data have been processed
824 0000 data have been processed
825 0000 data have been processed
826 0000 data have been processed
827 0000 data have been processed
828 0000 data have been processed
829 0000 data have been processed
830 0000 data have been processed
831 0000 data have been processed
832 0000 data have been processed
833 0000 data have been processed
834 0000 data have been processed
CPU times: user 9h 33min 28s, sys: 4min 27s, total: 9h 37min 56s
Wall time: 9h 39min 27s

In [18]:
# row selection
airbnb_reviews_en = airbnb_reviews.iloc[lst]

In [ ]:
# convert the csv to feather
airbnb_reviews_en.reset_index().to_feather('data/airbnb_reviews_en.feather')

### Join the dataset based on same listing id

In [5]:
airbnb_reviews_en = airbnb_reviews_en.loc[:, ['listing_id','comments']]

In [6]:
airbnb_reviews_en.tail(2)

         listing_id                                           comments
6819301     3102110  James and Yuna's place was awesome. They where...
6819302       13744  A nice appartment in a friendly and quiet neig...

In [7]:

# concatenate the string 
airbnb_reviews_en['comments'] = airbnb_reviews_en.groupby(['listing_id'])['comments'].transform(lambda x : ' '.join(x)) 
airbnb_reviews_en = airbnb_reviews_en.drop_duplicates()

In [8]:
airbnb_reviews_en.reset_index().to_feather('data/airbnb_reviews_en_join.feather')
pd.read_feather('data/airbnb_reviews_en_join.feather').head(5)

   index  listing_id                                           comments
0      0      488835  First time using Airbnb and couldn't be happie...
1      1      549036  I had really good time in Alex apartment and I...
2      2    13546118  Place is pretty nice and Sergio was a big help...
3      4     2643611  Patrica was the perfect host. She meet us at t...
4      7     2263681  Manuel is a really great host and the apt is a...

In [37]:
airbnb_reviews_en_join = pd.read_feather('data/airbnb_reviews_en_join.feather').drop('index', axis=1)

In [38]:
airbnb_reviews_en_join.head()

   listing_id                                           comments
0      488835  First time using Airbnb and couldn't be happie...
1      549036  I had really good time in Alex apartment and I...
2    13546118  Place is pretty nice and Sergio was a big help...
3     2643611  Patrica was the perfect host. She meet us at t...
4     2263681  Manuel is a really great host and the apt is a...

# Doc 2 Vec for comments
#### The code below is from COMP30027 Machine Learning

In [5]:
# Read the file with only English comments
airbnb_reviews_en = pd.read_feather('data/airbnb_reviews_en.feather').drop('index', axis=1)

In [39]:
# Read the file with only English comments
airbnb_reviews_en_join = pd.read_feather('data/airbnb_reviews_en_join.feather').drop('index', axis=1)

In [42]:
train_corpus = airbnb_reviews_en_join['comments']
test = airbnb_reviews_en_join['comments']

In [43]:
%%time
from sklearn.feature_extraction.text import CountVectorizer

# preprocess text and compute counts
vocab = CountVectorizer(stop_words='english').fit(train_corpus)

# generate counts for a new set of documents
doc_emb = vocab.transform(test)

CPU times: user 7min 9s, sys: 3.99 s, total: 7min 13s
Wall time: 7min 14s

### Convert the comment to 50 dimensional vectors

In [44]:
%%time

# size of the output vector
vec_size = 50

# function to preprocess and tokenize text
def tokenize_corpus(txt, tokens_only=False):
    for i, line in enumerate(txt):
        tokens = gensim.utils.simple_preprocess(line)
        if tokens_only:
            yield tokens
        else:
            yield gensim.models.doc2vec.TaggedDocument(tokens, [i])

CPU times: user 5 µs, sys: 4 µs, total: 9 µs
Wall time: 9.06 µs

In [45]:
%%time
# tokenize a training corpus
corpus = list(tokenize_corpus(train_corpus))

CPU times: user 8min 32s, sys: 3min 7s, total: 11min 39s
Wall time: 12min 15s

In [46]:
%%time
# train doc2vec on the training corpus
model = gensim.models.doc2vec.Doc2Vec(vector_size=vec_size, min_count=2, epochs=10)

CPU times: user 1.36 ms, sys: 10.4 ms, total: 11.8 ms
Wall time: 19.7 ms

In [47]:
%%time
model.build_vocab(corpus)

CPU times: user 2min 58s, sys: 37.2 s, total: 3min 35s
Wall time: 4min 16s

In [48]:
%%time
model.train(corpus, total_examples=model.corpus_count, epochs=model.epochs)

CPU times: user 1h 39min 23s, sys: 8min 21s, total: 1h 47min 44s
Wall time: 48min 51s

In [49]:
%%time
# tokenize new documents
doc = list(tokenize_corpus(test, tokens_only=True))

CPU times: user 8min 12s, sys: 2min 34s, total: 10min 46s
Wall time: 14min 14s

In [51]:
# generate embeddings for the new documents
doc_emb = np.zeros((len(doc),vec_size))

In [65]:
%%time
for i in range(len(doc)):
    if (i/10000).is_integer():
        print(i)
    doc_emb[i,:] = model.infer_vector(doc[i])

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
CPU times: user 1h 9min 59s, sys: 4min 44s, total: 1h 14min 43s
Wall time: 1h 20min 32s

In [73]:
%%time
data = pd.DataFrame(doc_emb)
data.columns = data.columns.astype(str)
new_df = pd.concat([airbnb_reviews_en_join, data], axis = 1)
#new_df.reset_index().to_feather('data/airbnb_reviews_en_join_doc2vec50.feather')
#pd.read_feather('data/airbnb_reviews_en_join_doc2vec50.feather').head(5)

CPU times: user 1.08 s, sys: 7.51 s, total: 8.59 s
Wall time: 25.1 s

In [74]:
# Remove the feature 'comment' and save to feather again (not necessary)
new_df2 = new_df.loc[:,new_df.columns!='comments']
new_df2.reset_index().to_feather('data/airbnb_reviews_en_join_doc2vec50.feather')
pd.read_feather('data/airbnb_reviews_en_join_doc2vec50.feather').head(5)

,index,listing_id,0,1,2,3,4,5,6,7,...,40,41,42,43,44,45,46,47,48,49
0,0,488835,-0.172850,0.054249,1.331955,0.624849,-0.289155,0.352968,-0.168172,-0.026205,...,-0.313929,0.960765,-0.409866,0.665558,-1.174518,0.394543,-0.461035,0.561439,0.387918,-0.116501
1,1,549036,-1.000408,-1.492268,1.580612,1.604159,0.080560,2.180467,-0.874364,0.136403,...,-0.852686,-0.180197,-0.088430,0.152311,-2.935486,1.093438,1.591154,0.095329,1.272898,-0.357847
2,2,13546118,-1.340827,-0.015176,1.288301,1.518229,-0.263480,1.270910,-0.058099,0.376789,...,0.091462,1.028206,-0.863812,-0.259800,-2.160436,0.234394,1.207856,0.688972,1.361456,-0.100542
3,3,2643611,-0.641008,-0.350837,-0.236163,1.827108,0.733946,0.815207,-0.349609,0.291637,...,0.483328,1.034008,-0.312193,1.007967,-0.990584,0.524995,-0.357787,-0.171655,0.297890,-1.260579
4,4,2263681,-2.314118,-0.464722,0.678646,1.288942,0.647862,4.017908,-0.183250,-0.242754,...,0.193845,-0.032328,-1.314451,1.484645,-1.331208,0.995373,0.405309,-1.083297,1.158279,-1.147393

In [80]:
airbnb_reviews_en_join

        listing_id                                           comments
0           488835  First time using Airbnb and couldn't be happie...
1           549036  I had really good time in Alex apartment and I...
2         13546118  Place is pretty nice and Sergio was a big help...
3          2643611  Patrica was the perfect host. She meet us at t...
4          2263681  Manuel is a really great host and the apt is a...
...            ...                                                ...
359868    16453105  Comfortable little studio! Perfect for going t...
359869    17814136                                      A great place
359870     9679914  Ken and Pinky are amazing hosts! They really h...
359871    16477143  Even though we didn't see Enchanta her roommat...
359872    16634931  Eric was friendly and very nice and his apartm...

[359873 rows x 2 columns]